body {
    background-image: url('https://images.pexels.com/photos/890035/pexels-photo-890035.jpeg');
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.titulo{
    font-family: 'Old Standard TT', serif;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: rgb(94, 89, 89);
    /*-webkit-text-stroke-width: 0.4px;
   -webkit-text-stroke-color: black;*/
}
